.multi_select_container
    display: flex
    flex-wrap: wrap
.checkbox_wrapper
    display: flex
    margin-bottom: 1.7rem
    width: 25%
.label_select
    padding: 0 !important
.download_modal
    max-width: 1200px
.center_document
    display: flex
    justify-content: center
    align-items: center
.people_share_with
    font-weight: 600
    color: #747678
    padding-left: 0.3rem
    font-size: 14px
.share_with_ul
    list-style: none
.share_with_li
    display: inline-flex
    justify-content: space-between
    width: 100%
    align-items: center
    margin-bottom: 1.5rem
.share_with_button
    align-items: center
    display: flex
.share_with_div
    display: flex
    align-items: center
.share_with_p
    margin-bottom: 0
.share_with_span_pic
    width: 2rem
    height: 2rem
    display: flex
    justify-content: center
    align-items: center
