.overflow_col
    // overflow-x: auto
    // white-space: nowrap
    // display: flex
.inner_document_summary
    display: inline-block
    float: none
    background-color: white
    border: 1px solid #dbdbdb
    border-radius: 3px
    padding: 1rem 2rem
    margin-right: 1rem
    margin-bottom: 1rem
.progressbar
    background-color: white
    border: 1px solid #ff7765
    font-size: 1rem
    font-weight: 600
.ProgressTitle
    margin-bottom: .3rem
.ProgressDesc
    margin-top: .3rem
.progress_container_outer
    max-height: 355px
    overflow-y: scroll
.progress_container
    margin-right: 1rem
.clickable
    color: #ff7765
    font-weight: bold
    cursor: pointer
    &:hover
        text-decoration: underline
.chart_container
    height: 100%
    h5
        text-align: center
.right_border
    border-right: 1px solid #e5e5e5
.search_input
    position: relative
.search
    position: absolute
    top: 0.5rem
    left: 1.5rem
.advanceSearch
    position: absolute
    top: 0.5rem
    right: 1.5rem
    cursor: pointer
.my_document_search
    padding-left: 2rem
.collapse_summary
    height: 0
    padding: 0
    overflow: hidden
.advance_search
    position: absolute
    top: 2.3rem
    width: 98%
    z-index: 999
    background: white
    padding: 1rem
    border: 1px solid #ced4da
    border-radius: 0.3rem
